// ===================
// general styles
// ===================
img {
    width: 100%;
}
// ===================
// classes
// ===================
.grow:hover {
transform: scale(1.03);
}
.vh100 {
height: 100vh;
}