.banner {
    background-color: map.get($theme-colors, "accent");
    color: map.get($theme-colors, "white");
    a {
        color: map.get($theme-colors, "white");
    }
}
#banner {
    .img-div {
        @include media-md {
            width: 40%;
        }
    }
    .text-div {
        margin-bottom: 1rem;
        
        @include media-md {
            width: 60%;
            margin-bottom: 0;
        }
    }

    background-color: map.get($theme-colors, "secondary");
    color: map.get($theme-colors, "white");
    a {
        color: map.get($theme-colors, "white");
    }
}